<h2 class="content-block">Addresses</h2>
<dx-data-grid [dataSource]="yourData" class="my-grid">
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxi-column dataField="AddressType"></dxi-column>
  <dxi-column dataField="AddressLine1"></dxi-column>
  <dxi-column dataField="AddressLine2"></dxi-column>
  <dxi-column dataField="AddressLine3"></dxi-column>
  <dxi-column dataField="StateProvince"></dxi-column>
  <dxi-column dataField="PostalCode"></dxi-column>
  <dxi-column dataField="Country"></dxi-column>
  <dxi-column dataField="Phone"></dxi-column>
  <dxi-column dataField="EmailAddress"></dxi-column>
  <dxi-column dataField="Status"></dxi-column>
</dx-data-grid>
